@{
    ViewBag.Title = "Contact";
}

<div class="px-4 py-5 my-5 text-center">
    <i class="bi bi-file-earmark-code-fill" style="font-size:58px"></i>
    <h1 class="display-5 fw-bold">@ViewBag.Title</h1>
    <h3 class="display-5">@ViewBag.Message</h3>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Hello World!</p>
        <a href="https://github.com/" class="btn btn-dark"><i class="bi bi-github"></i> Github</a>
    </div>
</div>